@{
    ViewData["Title"] = "Index";
}

@section CSS{

}

<section class="author-profile" style="background-image: url(./Assets/images/bg-author_1920x545.webp);">
    <div class="profile">
        <div class="profile-img">
            <img src="~/Assets/images/author_image.webp" alt="">
        </div>
        <div class="author-name">
            <h2>KATHERINE OLSON</h2>
        </div>
        <div class="author-books">
            <span>23 books</span>
        </div>
        <div class="author-info">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
    </div>
</section>
<section class="all-author-books">
    <div class="title">
        <h1>All Katherine`s Books</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book10.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book11.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book12.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book13.webp" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12 col-12 blogBox moreBox" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <img src="~/Assets/images/book15.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Book Name</h5>
                        <span class="card-text">100$</span>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="loadMore">
                <a href="#">LOAD MORE BOOKS</a>
            </div>
        </div>
    </div>
</section>
<section class="other-authors">
    <div class="other-author-title">
        <h1>VIEW ANOTHER AUTHORS</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author1.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author2.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author3.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author4.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author5.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2 col-md-4">
                <div class="author">
                    <div class="author-img">
                        <img src="~/Assets/images/author6.webp" alt="">
                    </div>
                    <div class="author-info">
                        <h4>Author Name</h4>
                        <span>20 Books</span>
                        <a href="#">View Profile</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     
    <script src="~/Assets/js/author.js"></script>
}

