@model HomeVM
@using FinalProjectBooky.ViewModels
@*@inject FinalProjectBooky.Services.LayoutService layoutService
*@
@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home" style="background: url(./Assets/images/banner-bg.jpg) no-repeat;">

            <div class="row">

                <div class="content">
                    <h3>upto 75% off</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam
                        alias sit necessitatibus, aliquid ex minima at!</p>
                    <a href="#" class="btn">shop now</a>
                </div>

                <div class="swiper books-slider">
                    <div class="swiper-wrapper">
                        @await Html.PartialAsync("_HeaderBookPartialView",Model.Books)
                    </div>
                    <img src="~/Assets/images/stand.png" class="stand" alt="">
                </div>

            </div>

        </section>
        <section class="icons-container">

           @await Html.PartialAsync("_IconContainerPartialView",Model.IconContainers)

        </section>
        <section class="bestSellers">
            <div class="bestSeller-Title">
                <h1 class="heading"> <span>best sellers</span> </h1>
            </div>
            <div class="owl-carousel owl-theme carusel">
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book13.webp" alt=""></div>
                                        <div class="title book-1" style="background-color: red;"></div>
                                        <div class="book-back book-1" style="background-color: #DABEA5;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/pro_pbid_4217056_180x.webp" alt=""></div>
                                        <div class="title book-1" style="background-color: #AE371A;"></div>
                                        <div class="book-back book-1" style="background-color: #AE371A;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/pro_pbid_20223_180x.webp" alt=""></div>
                                        <div class="title book-1" style="background-color: orange;"></div>
                                        <div class="book-back book-1" style="background-color: orange;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book13.webp" alt=""></div>
                                        <div class="title book-1" style="background-color: aqua;"></div>
                                        <div class="book-back book-1" style="background-color: orange;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book11.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #3EADE2;"></div>
                                        <div class="book-back book-1" style="background-color: #3EADE2;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book12.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #816D6F;"></div>
                                        <div class="book-back book-1" style="background-color: #816D6F;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book14.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color:#E9B61D;"></div>
                                        <div class="book-back book-1" style="background-color: #1D2856;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book15.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #D3D800;"></div>
                                        <div class="book-back book-1" style="background-color: #D3D800;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book16.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #A4BFD5;"></div>
                                        <div class="book-back book-1" style="background-color: #A4BFD5;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book17.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: red;"></div>
                                        <div class="book-back book-1" style="background-color: red;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book18.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #D64354;"></div>
                                        <div class="book-back book-1" style="background-color: #D64354;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/book19.jpg" alt=""></div>
                                        <div class="title book-1" style="background-color: #F5D98B;"></div>
                                        <div class="book-back book-1" style="background-color: #F5D98B;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card">
                        <div class="card-header">
                            <div class="wrap">
                                <div class="perspective">
                                    <div class="book-wrap">
                                        <div class="book book-1"><img class="book-main-img"
                                                src="~/Assets/images/NDIwNTA_3d_180x.webp" alt=""></div>
                                        <div class="title book-1" style="background-color: #AE371A;"></div>
                                        <div class="book-back book-1" style="background-color: #AE371A;">
                                            <div class="text">
                                                <h3>The Great Fall</h3>
                                                <p>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                                                        earum doloremque aliquam culpa dolor nostrum consequatur quas
                                                        dicta?</span>
                                                    <span>Blanditiis alias, omnis eveniet corporis ipsam at odio, iste,
                                                        expedita praesentium ullam voluptas similique distinctio?</span>
                                                    <span>This is the great fall</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <a href="">
                                    <h3>Book Name</h3>
                                </a>
                            </div>
                            <div class="author-name">
                                <a href=""><span>Author Name</span></a>
                            </div>
                            <div class="price">
                                <span><span>$</span>100</span>
                                <p class="campaign">$100</p>
                            </div>
                            <div class="add-to-cart">
                                <button type="submit">Add To Cart</button>
                                <a href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsletter" style="background:url(./Assets/images/letter-bg.jpg) no-repeat;">
            
            <form action="">
                <h3>subscribe for latest updates</h3>
                <input type="email" name="" placeholder="enter your email" id="" class="box">
                <input type="submit" value="subscribe" class="btn">
            </form>
        
        </section>
        <section class="new-book">
            <div class="container">
                <div class="section-title">
                    <h1 class="heading"> <span>new books</span> </h1>
                </div>
                <div class="component">

                    <ul class="align">
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                                

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book15.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                               

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>
                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                               

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book16.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                                

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>
                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                                

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book17.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                               

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>
                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                                

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book18.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                                

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>

                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                <!-- Back -->

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                                

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book17.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                               

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>
                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <figure class='book'>

                                

                                <ul class='hardcover_front'>
                                    <li>
                                        <img src="~/Assets/images/book18.jpg" alt="" width="100%" height="100%">
                                    </li>
                                    <li>

                                    </li>
                                </ul>

                                

                                <ul class="page">
                                    <li>
                                        <p style="font-size: 8px;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <div class="rsp-design">
                                            <h1>Book Name</h1>
                                            <span>By Marcela Paz</span>
                                            <div class="price">
                                                <span>$100</span>
                                                <span class="campaign"></span>
                                            </div>
                                        </div>

                                        <a class="btn" href="#">Add To Cart</a>


                                    </li>
                                    <li>
                                        <h5>Chapter3</h5>
                                        <p style="font-size: 8px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Dignissimos error debitis, reprehenderit
                                            sapiente, soluta labore obcaecati animi, laborum
                                            voluptates odio facilis sunt cum doloremque
                                            reiciendis ipsam eius similique consequuntur.
                                            Rerum, sint quibusdam sequi, nihil eum quia
                                            voluptatibus reprehenderit blanditiis, commodi
                                            fugit labore repudiandae eveniet reiciendis eius
                                            et voluptas amet sit!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter2</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt
                                            provident, harum nobis eius pariatur veniam quos non possimus placeat
                                            obcaecati iure. Fugit maiores maxime tempore consectetur nesciunt aperiam id
                                            voluptatum! Culpa, rerum quisquam impedit possimus explicabo ut enim,
                                            reiciendis natus, dolore hic deserunt asperiores. Temporibus, reprehenderit
                                            dolorum! Fugiat facilis praesentium explicabo vitae optio aliquam nemo nam
                                            dolor. Iusto, veniam! Minus enim, laboriosam architecto, beatae dolorem
                                            doloremque earum deserunt eligendi quas autem fugit? Quasi ab beatae nisi
                                            fugiat repellendus, dolore sit itaque ullam laudantium nesciunt. Distinctio
                                            eaque reiciendis possimus commodi ex, labore facere expedita ipsa
                                            dignissimos aliquam quo explicabo sequi!
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Chapter1</h5>
                                        <p style="font-size: 6px;padding-right: 2%;">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi quidem
                                            accusantium atque accusamus qui ratione beatae, esse doloribus maxime
                                            provident rem ipsam dolores dolorem numquam alias fugiat aperiam, sapiente
                                            sequi, repudiandae ex. Labore, quas veritatis? Doloribus alias tempore fuga
                                            debitis repellendus repellat quaerat inventore illo ad quam quo aperiam
                                            numquam eius quae, quibusdam cumque molestiae exercitationem unde placeat
                                            optio vitae. Molestias, maxime molestiae, odit dolorum vel esse aspernatur
                                            tempora officia nostrum perspiciatis excepturi ipsa eveniet in magnam
                                            pariatur beatae repellat optio, provident dolores. Placeat qui unde pariatur
                                            cumque, consequatur explicabo! Eos, recusandae tempore? Deleniti, molestias
                                            aperiam ipsa blanditiis quos fugiat.
                                        </p>
                                    </li>
                                </ul>

                                <!-- Back -->

                                <ul class='hardcover_back'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>

                                </ul>
                                <ul class='book_spine'>
                                    <li>


                                    </li>
                                    <li>

                                    </li>
                                </ul>
                                <figcaption>
                                    <h1>Book Name</h1>
                                    <span>By Marcela Paz</span>
                                    <div class="price">
                                        <span>$100</span>
                                        <span class="campaign"></span>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        
                    </ul>

                </div>
            </div>
        </section>
        <section class="our-blogs" id="blogs">

            <div class="blog-title">
                <h1 class="heading"> <span>our blogs</span> </h1>
            </div>
        
            <div class="swiper blogs-slider">
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <div class="image">
                            <img src="~/Assets/images/blog-1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>blog title goes here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                            <a href="#" class="btn">read more</a>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <div class="image">
                            <img src="~/Assets/images/blog-2.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>blog title goes here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                            <a href="#" class="btn">read more</a>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <div class="image">
                            <img src="~/Assets/images/blog-3.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>blog title goes here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                            <a href="#" class="btn">read more</a>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <div class="image">
                            <img src="~/Assets/images/blog-4.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>blog title goes here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                            <a href="#" class="btn">read more</a>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <div class="image">
                            <img src="~/Assets/images/blog-5.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>blog title goes here</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                            <a href="#" class="btn">read more</a>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
        </section>
