@model HomeVM
@using FinalProjectBooky.ViewModels
@*@inject FinalProjectBooky.Services.LayoutService layoutService
*@
@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home" style="background: url(/Assets/images/banner-bg.jpg) no-repeat;">

            <div class="row">

                <div class="content">
                    <h3>upto 75% off</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam
                        alias sit necessitatibus, aliquid ex minima at!</p>
                    <a href="#" class="btn">shop now</a>
                </div>

                <div class="swiper books-slider">
                    <div class="swiper-wrapper">
                        @await Html.PartialAsync("_HeaderBookPartialView",Model.Books)
                    </div>
                    <img src="~/Assets/images/stand.png" class="stand" alt="">
                </div>

            </div>

        </section>
        <section class="icons-container">

           @await Html.PartialAsync("_IconContainerPartialView",Model.IconContainers)

        </section>
        <section class="bestSellers">
            <div class="bestSeller-Title">
                <h1 class="heading"> <span>best sellers</span> </h1>
            </div>
            <div class="owl-carousel owl-theme carusel">
                @await Html.PartialAsync("_BestSellerBookPartialView",Model.Books)
            </div>
        </section>
        <section class="newsletter" style="background:url(./Assets/images/letter-bg.jpg) no-repeat;">
            
            <form action="">
                <h3>subscribe for latest updates</h3>
                <input type="email" name="" placeholder="enter your email" id="" class="box">
                <input type="submit" value="subscribe" class="btn">
            </form>
        
        </section>
        <section class="new-book">
            <div class="container">
                <div class="section-title">
                    <h1 class="heading"> <span>new books</span> </h1>
                </div>
                <div class="component">

                    <ul class="align">
                     @await Html.PartialAsync("_NewBookPartialView",Model.Books) 
                    </ul>

                </div>
            </div>
        </section>
        <section class="our-blogs" id="blogs">

            <div class="blog-title">
                <h1 class="heading"> <span>our blogs</span> </h1>
            </div>
        
            <div class="swiper blogs-slider">
        
                <div class="swiper-wrapper">
        
                  @await Html.PartialAsync("_BlogIndexPartialView",Model.Blogs) 
        
                </div>
        
            </div>
        
        </section>
